/*********************************************

BASIC CSS FORMATTING

**********************************************/

body {
  padding: 0;
  margin-top: 5%;
  display:flex;
  justify-content: center;
  align-content: center;
  background-image: url("../assets/images/bkg_checker.png");
  background-repeat: repeat;
}
