body{
  background-image: url("bg.jpg");
  color: red;

}

#wallText{
  color: white;
  position: absolute;
  left: 200px;
  top: 100px;
  width: 800px;
  font-size: 30px;
}

.scrollbox{
  background-image: url("roche.JPG");
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  right: 600px;
  height: 700px;
  width: 1000px;
  top: 400px;
}
